@charset "utf-8";

.container {
  background-color: #ddd;
  height: 300px;
  /* 要素をflexboxモデルで並べる */
  display: flex;
  /* 要素の横の並び方 */
  /* space-between, space-around */
  /* justify-content: center; */
  /* 要素の縦の並び方 */
  /* align-items: flex-end; */
  /* 要素の幅を保持する */
  /* nowrap */
  /* flex-wrap: wrap; */
}

/* boxのCSSを作成 */
.box {
  width: 200px;
  height: 200px;
  margin: 4px;
  background-color: green;
  text-align: center;
  line-height: 200px;
  vertical-align: center;
  font-size: 24px;
  color: white;
}
